{% load widget_tweaks %}
<form method="post" action="">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                {{ form.local.label_tag }}
                {{ form.local }}
                {{ form.local.errors }}
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                {{ form.fechaInicio.label_tag }}
                {{ form.fechaInicio }}
                {{ form.fechaInicio.errors }}
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                {{ form.horaInicio.label_tag }}
                {{ form.horaInicio }}
                {{ form.horaInicio.errors }}
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                {{ form.fechaFin.label_tag }}
                {{ form.fechaFin }}
                {{ form.fechaFin.errors }}
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                {{ form.horaFin.label_tag }}
                {{ form.horaFin }}
                {{ form.horaFin.errors }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                {{ form.tipoActividad.label_tag }}
                {{ form.tipoActividad }}
                {{ form.tipoActividad.errors }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form.nombre.label_tag }}
                {{ form.nombre }}
                {{ form.nombre.errors }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                {{ form.descripcion.label_tag }}
                {{ form.descripcion }}
                {{ form.descripcion.errors }}
            </div>
        </div>
    </div>

    <div class="row pull-right">
        <button id="actualizar" class="mt-xs mr-xs btn btn-primary" style="display: none"><i
                class="fa fa-refresh"></i>
            Actualizar
        </button>
        <button id="guardar" type="submit" class="mt-xs mr-xs btn btn-primary"
                onmouseover="accion('{% url 'actividad_new' %}')" style="display: none"><i
                class="fa fa-save"></i> Guardar
        </button>
        <button id="guardar_y_continuar" type="submit" class="mt-xs mr-xs btn btn-primary"
                onmouseover="accion('{% url 'actividad_create_and_new' %}')" style="display: none"><i
                class="fa fa-check-square-o"></i>Guardar y continuar
        </button>
        <a class="mt-xs mr-xs btn btn-primary" href="{% url 'actividad_index' %}"><i
                class="fa fa-list-ol"></i> Listar</a>
        <a id="borrar" class="mt-xs mr-xs modal-basic btn btn-danger" href="#modalHeaderColorWarning"
           style="display: none"><i class="fa fa-trash-o"></i> Borrar</a>
    </div>
</form>


